* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

.product {
    max-width: 100%;
    background-color: #F5F6F9;
    padding-top: 24rem;
    margin-right: 40rem;
    margin-left: 40rem;
    margin-top: 9rem;
    border-radius: 10px;

}

.img {
    position: absolute;
    width: 7rem;
    top: 45px;
    left: 70px;


}

.text {
    font-family: sans-serif,bold;
    font-weight: 900px;
      left: 20px;
     bottom: 8rem;

}
.price{
    font-family: sans-serif,bold;
    font-weight: 900px;
    left: 25px;
    bottom: 1rem;
}